@media (min-width: 1080px) {
    .loader,
    .loader:before,
    .loader:after
    {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        animation: load 1.8s ease-in-out infinite;
    }
    .loader
    {
        position: absolute;
        top: 80%;
        left: 48%;
        transform: translate(-50%,-50%) translateZ(0);
        color:#fff;
        animation-delay: -0.16s;
    }
    .loader:before,
    .loader:after
    {
        position: absolute;
        top: 0;
        content: '';
    }

    .loader:before
    {
        left: -56px;
        animation-delay: -0.32s;
    }
    .loader:after
    {
        left: 56px;
    }
    @keyframes load
    {
        0%,80%,100%
        {
            box-shadow: 0 40px 0 -20px;
        }
        40%{
            box-shadow: 0 40px 0 0;
        }
    }
}