.Copyright {
    text-align: center;
    justify-content: center;
    display: flex;
    background: #121b52;
    height: 40px;
}

.CopyrightText {
    color: white;
}

.SecondaryText {
    color: darkgrey;
}
.mygit{
    text-decoration: none;
    color: white;
    /*animation: colorchange 2s linear 1;*/
}
.mygit:hover {
    animation: colorchange 2s linear infinite;
}
@keyframes colorchange {
    0%{
        color:white;
    }
    25%{
        color:bisque;
    }
    50%{
        color:white;
    }
    75%{
        color:bisque;
    }

    100%{
        color:white;
    }

}

.img{
    width: 50px;
    height: auto;
}