@media (prefers-reduced-motion: no-preference) {
    .LogoImageA {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Navigation {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #282c34;
    color: aliceblue;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.5);
    align-items: center;
    display: flex;
    flex-flow: row;
    justify-content: left;
    z-index: 5;
}

.Navigation img {
    width: 64px;
}

.Label > span {
    display: inline-flex;
}

.Like {
    margin-left: 40px;
    font-size: 32px;
}

.React {
    font-size: 28px;
    color: #1BB95E;
    margin-right: 5px;
}

.Marathon {
    font-size: 16px;
}