.card {
  font-size: 18px;
  text-align: center;
  margin-bottom: 18px;
  cursor: pointer;
  perspective: 1000px;
  height: 42px;
  width: 170px;
  margin-right: 1px;


  &.flip {
    .cardInner {
      transform: rotateY(180deg);
    }
  }
}

.cardInner {
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cardFront,
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 0;
}

.cardFront {
  background: repeating-radial-gradient(circle, #B9ECFE, #B9ECFE 10px, #82DDFF 10px, #82ddff 20px);
  color: black;
  font-family: "Berlin Sans FB";
  font-size: 1.45rem;
  line-height: 1.7;
}

.cardBack {
  background: repeating-radial-gradient(circle, #c8feb9, #b9feba 10px, #86ff82 10px, #86ff82 20px);
  color: black;
  font-family: "Berlin Sans FB";
  font-size: 1.45rem;
  font-weight: 600;
  line-height: 1.7;
  transform: rotateY(180deg);
}
.onclick{

}