@media (min-width:1080px ) {
    .container
    {
        text-align: center;
        position: absolute;
        top:10%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
    }
    .container span
    {
        text-transform: uppercase;
        display: block;
    }

    .text1
    {
        color: #86ff82;
        font-size: 60px;
        font-weight: 700;
        letter-spacing: 8px;
        margin-bottom: 20px;
        margin-bottom: 20px;
        position: relative;
        animation: text 3s  1;

    }
    .text2
    {
        font-size: 30px;
        color: #86ff82;
        animation: text2 3.5s  1;
    }

    @keyframes text
    {
        0%
        {
            color: black;
            margin-bottom: -40px;
        }
        30%
        {
            letter-spacing: 25px;
            margin-bottom: -40px;
        }
        85%
        {
            letter-spacing: 8px;
            margin-bottom: -40px;
        }
    }
    @keyframes text2
    {
        0%
        {
            opacity: 0;
            /*color: black;*/
            /*margin-bottom: -40px;*/
        }
        /*30%*/
        /*{*/
        /*    letter-spacing: 25px;*/
        /*    margin-bottom: -40px;*/
        /*}*/
        70%{
            opacity: 0;
        }
        100%
        {
            opacity: 1;
            /*letter-spacing: 8px;*/
            /*margin-bottom: -40px;*/
        }
    }
}

.text1,
.text2{
    display: none;
}