.cover {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  text-align: center;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: #000;
}

.cover:after {
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-image: linear-gradient(to top, rgba(25, 38, 117, 0.7), rgba(10, 143, 196, 0.70));
}


.ImageBg {
  width: 100%;
  height: 100%;
  background-image: url('./background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /*background-attachment: fixed;*/
  display: compact;
  position: absolute;
}

.cover .wrap {
  position: relative;
  z-index: 1;
  padding: 100px 16px;
  max-width: 1024px;
}
